In [1]:
import scipy.stats as stats

In [2]:
import seaborn as sns
import pandas as pd 
import numpy as np
dataset = sns.load_dataset('tips')

In [3]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
dataset_table = pd.crosstab(dataset['sex'],dataset['smoker'])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [6]:
no_of_rows=len(dataset_table.iloc[0:2,0])
no_of_columns=len(dataset_table.iloc[0,0:2])
dof=(no_of_rows-1)*(no_of_columns-1)

In [8]:
print(dof)
alpha=0.05

1

In [14]:
Observed_Values = dataset_table.values
print(Observed_Values)

[[60 97]
 [33 54]]

In [18]:
val=stats.chi2_contingency(dataset_table)
val

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [19]:
Expected_Values=val[3]

In [22]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic = chi_square[0]+chi_square[1]

In [25]:
print("chi_square_statistic:",chi_square_statistic)

chi_square_statistic: 0.001934818536627623

In [27]:
critical_value = chi2.ppf(q=1-alpha,df=dof)
print("critical_value:",critical_value)

critical_value: 3.841458820694124

In [29]:
p_value= 1-chi2.cdf(x=chi_square_statistic,df=dof)

In [30]:
print("p value ",p_value)
print("significance_level:",alpha)
print("degree of freedom :",dof)
print("p value :",p_value)

p value  0.964915107315732
significance_level: 0.05
degree of freedom : 1
p value : 0.964915107315732

In [33]:
if chi_square_statistic>=critical_value:
    print("reject h0,there is relation between 2")
else:
    print("retain h0,there is no relation between 2")

if p_value<=alpha:
    print("reject h0,there is relation between 2")
else:
    print("retain h0,there is no relation between 2 ")

retain h0,there is no relation between 2
retain h0,there is no relation between 2