In [1]:
1+1

2

In [2]:
lst = [1000,'om',204]
type(lst)

list

In [4]:
len(lst)

3

In [5]:
lst.append("timbadiya")

In [6]:
len(lst)
print(lst)

[1000, 'om', 204, 'timbadiya']

In [7]:
lst[:]

[1000, 'om', 204, 'timbadiya']

In [8]:
lst[3:]

['timbadiya']

In [12]:
lst.extend(["wont","be","added"])
print(lst)

[1000, 'om', 204, 'timbadiya', ['john', 'bala'], 'wont', 'be', 'added']

In [13]:
lst.pop()

'added'

In [15]:
lst.pop(4)
print(lst)

[1000, 'om', 204, 'timbadiya', 'be']

In [18]:
lstt=[1,2,3,4,5]
sum(lstt)

15

In [23]:
min(lstt)
print(min(lstt))
max(lstt)

1

5

In [24]:
lstt.index(2,0,4)

1

In [25]:
lstt*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [28]:
len(lstt)

5

In [29]:
lsst=lstt*2

In [30]:
print(lsst)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [31]:
set_var={1,2,3,4,4,4,4,4}
print(set_var)

{1, 2, 3, 4}

In [35]:
set_var.add(5)
print(set_var)

{1, 2, 3, 4, 5}

In [41]:
set_var2 = {1,2,3,4,5,6}
set_var2.difference(set_var)

{6}

In [42]:
set_var2 = {1,2,3,4,5,6}
set_var2.difference_update(set_var)

In [43]:
print(set_var2)

{6}

In [56]:
dic={}
type(dic)

dict

In [46]:
dic={"car1":"audi","car2":"bmw","car3":"maruti"}
print(dic)

{'car1': 'audi', 'car2': 'bmw', 'car3': 'maruti'}

In [49]:
for x in  dic.items():
    print(x)

('car1', 'audi')
('car2', 'bmw')
('car3', 'maruti')

In [52]:
my_tuple=(0,'krish','om')
print(my_tuple)

(0, 'krish', 'om')

In [54]:
print(my_tuple.count("om"))

my_tuple.index("om")

1

2

In [55]:
import numpy as np

In [57]:
arr=np.array([1,2,3,4,5])
print(arr)

[1 2 3 4 5]

In [58]:
mylst1=[1,2,3,4]
mylst2=[5,6,7,8]
mylst3=[9,10,11,12]
arr=np.array([mylst1,mylst2,mylst3])

In [59]:
print(arr)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [61]:
arr.shape

(3, 4)

In [63]:
print(arr.reshape(4,3))

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [65]:
arr[0:1,0:2]

array([[1, 2]])

In [68]:
arr=np.arange(0,10,step=2)
print(arr)

[0 2 4 6 8]

In [69]:
print(np.linspace(0,10,100))

[ 0.          0.1010101   0.2020202   0.3030303   0.4040404   0.50505051
  0.60606061  0.70707071  0.80808081  0.90909091  1.01010101  1.11111111
  1.21212121  1.31313131  1.41414141  1.51515152  1.61616162  1.71717172
  1.81818182  1.91919192  2.02020202  2.12121212  2.22222222  2.32323232
  2.42424242  2.52525253  2.62626263  2.72727273  2.82828283  2.92929293
  3.03030303  3.13131313  3.23232323  3.33333333  3.43434343  3.53535354
  3.63636364  3.73737374  3.83838384  3.93939394  4.04040404  4.14141414
  4.24242424  4.34343434  4.44444444  4.54545455  4.64646465  4.74747475
  4.84848485  4.94949495  5.05050505  5.15151515  5.25252525  5.35353535
  5.45454545  5.55555556  5.65656566  5.75757576  5.85858586  5.95959596
  6.06060606  6.16161616  6.26262626  6.36363636  6.46464646  6.56565657
  6.66666667  6.76767677  6.86868687  6.96969697  7.07070707  7.17171717
  7.27272727  7.37373737  7.47474747  7.57575758  7.67676768  7.77777778
  7.87878788  7.97979798  8.08080808  8.18181818  8.28282828  8.38383838
  8.48484848  8.58585859  8.68686869  8.78787879  8.88888889  8.98989899
  9.09090909  9.19191919  9.29292929  9.39393939  9.49494949  9.5959596
  9.6969697   9.7979798   9.8989899  10.        ]

In [70]:
 import pandas as pd
import numpy as np

In [73]:
 df=pd.DataFrame(np.arange(0,9).reshape(3,3),index=['rows1','rows2','rows3'],columns=['col1','col2','col3'])
df.head()

       col1  col2  col3
rows1     0     1     2
rows2     3     4     5
rows3     6     7     8

In [75]:
df.to_csv("test1.csv")

In [76]:
arr=df.values
print(arr)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [77]:
print(arr[0])

[0 1 2]

In [83]:
 print(df.iloc[0:2,0:4])

       col1  col2  col3
rows1     0     1     2
rows2     3     4     5

In [93]:
print(df[['col1','col2']].value_counts())

col1  col2
0     1       1
3     4       1
6     7       1
Name: count, dtype: int64

In [94]:
print(df['col1'].unique())

[0 3 6]

In [99]:
df=pd.read_csv('Mercedesbenz.csv')

In [100]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [102]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
data=('col1,col2,col3\n'
      '7,8,9\n'
     '2,4,5\n')

In [15]:
from  io import StringIO
import pandas as pd
import numpy as np

df=pd.read_csv(StringIO(data),index_col=False)

In [16]:
print(df)

   col1  col2  col3
0     7     8     9
1     2     4     5